<div class="home-wrapper">
  <section class="site-navigator">
  	<ul>
  		<li><a href="/home/create-quiz">Create quiz</a></li>
      <li><a href="/view-quizes">View quizes</a></li>
  		<li><a href="/add-students">Add Students</a></li>
  		<li><a href="/view-students">List of Students</a></li>
    </ul>
  </section>
</div>
