<div class="home-wrapper">
  <section class="site-navigator">
  	<ul>
  		<li><a href="/home/create-quiz">Create quiz</a></li>
        <li><a href="/home/view-quizes">View quizes</a></li>
  		<li><a href="/home/add-student">Add Students</a></li>
  		<li><a href="/home/view-students">List of Students</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
  </section>
  <section class="site-background">

  </section>
</div>
