<div class="main-wrapper">
  <div class="login-wrapper">
    <form  method='POST' action='/login'>
        <input type="text" name="username" id="" placeholder="Username" class="username">
        <input type="password" name="password" id="" placeholder="Password" class="pass">
        <button type="submit">Login into Microprocessors Quiz</button>
    </form>
  </div>
</div>
